.about-color {
  background-color: rgb(152 115 85);
}

#about p {
  align-self: center;
  justify-self: center;
}
#about img{
  filter: brightness(50%);
}
.about-description {
  color: white;
  text-align: center;
}

@media all and (orientation: landscape) {
  /* <---- About ---->*/
  
  /* <---- About ---->*/
}

@media all and (orientation: portrait) {
  /* <---- About ---->*/
  
  /* <---- About ---->*/
}
