.about-color {
  background-color: rgb(152 115 85);
}

#about p {
  align-self: center;
  justify-self: center;
}
#about img{
  filter: brightness(50%);
}
.about-description {
  color: white;
  text-align: center;
}

@media all and (orientation: landscape) {
  /* <---- About ---->*/
  .about-description {
    position: absolute;
    background: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.5rem);
    text-align: center;
    bottom: calc(1.5rem);
    left: 15%;
    right: 15%;
  }

  /* <---- About ---->*/
}

@media all and (orientation: portrait) {
  /* <---- About ---->*/
  .about-description {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 1.5rem;
  }
  /* <---- About ---->*/
}
