/* <---- Carousel ---->*/
.carousel {
  height: auto;
  background-image: linear-gradient(
    to top left,
    rgb(99 217 97),
    rgb(75 255 180)
  );
}
.carousel-inner,
.carousel-item {
  height: 100%;
}
.carousel-item img {
  width: 100%;
  box-shadow: 0 0 1rem 0.5rem #000608b2;
}
.carousel-indicators {
  display: none !important;
}
/* <---- Carousel ---->*/

@media all and (orientation: landscape) {
  /* <---- Carousel ---->*/
  /* <---- Carousel ---->*/
}

@media all and (orientation: portrait) {
  /* <---- Carousel ---->*/
  .carousel-item img {
    margin: auto;
    margin-top: 4rem;
  }
  /* <---- Carousel ---->*/
}
