* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
p{ 
  text-shadow: 2px -1px 8px #00000059;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.centered {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen-container {
  width: 100vw;
  align-items: center;
}

.image-container-flex {
  height: auto;
  width: 50%;
  margin: 1rem;
  justify-self: center;
  align-self: center;
  position: relative;
}
.image-container-flex img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.image-description {
  /* flex-grow: 1; */
  align-self: center;
  margin: 1rem;
  color: rgb(0, 0, 0);
}

@media all and (orientation: landscape) {
  /* <---- Image ---->*/
  .fullscreen-container {
    min-height: 100vh;
  }
  .image-container-flex img {
    height: auto;
  }
  /* <---- Image ---->*/
}

@media all and (orientation: portrait) {
  .fullscreen-container {
    flex-direction: column;
    height: auto;
  }
  /* <---- Image ---->*/
  .image-container-flex {
    width: 80%;
  }
  .image-description {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* <---- Image ---->*/
}
